manifest {
    name = 'jcollins-bioinfo/giab-wes-nextflow'
    author = 'James Collins'
    homePage = 'https://github.com/jcollins-bioinfo/giab-wes-nextflow'
    description = 'GIAB HG001 WES foundation contracts; nonclinical'
    mainScript = 'main.nf'
    nextflowVersion = '>=25.10.4'
    version = '0.1.0-dev.1'
}
plugins { id 'nf-schema@2.8.0' }
params {
    input = null
    outdir = 'results'
    callers = 'both'
    reference = null
    targets = null
    truth_vcf = null
    truth_bed = null
    retain_oq = true
    call_padding = 100
    benchmark = false
    max_cpus = 2
    provenance = true
    private_workspace_root = null
    help = false
}
includeConfig 'conf/base.config'
profiles {
    test { includeConfig 'conf/test.config' }
    test_full { includeConfig 'conf/test_full.config' }
    docker { docker.enabled = true }
}
validation { failUnrecognisedParams = true }
workflow.output.enabled = true
workflow.output.directory = params.outdir
workflow.output.mode = 'copy'
